*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*church anniversary page*/
header{
    position: relative;
    z-index: 999;
    min-height: 8vh;
    display: flex;
}
header nav{
    display: flex;
    width: 100%;
    position: fixed;
    background: rgb(184, 4, 4);
    box-shadow: 5px 10px 15px black;
}
header nav .logo{
    color: white;
    width: 20%;
    font-size: 40px;
    padding: 10px 6%;
} 
header nav .nav2{
    display: flex;
    position: absolute;
    width: 50%;
    right: 0;
    justify-content: space-around;
    padding: 23px;
}
header nav .nav2 .link{
    display: block;
    list-style: none;
    position: relative;
}
header nav .nav2 .link a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
header nav .nav2 .link a:hover{
    color: yellow;
    transition: 0.3s;
}

