*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    position: relative;
    z-index: 999;
    min-height: 8vh;
    display: flex;
}
header nav{
    display: flex;
    width: 100%;
    position: fixed;
    background: rgb(184, 4, 4);
    box-shadow: 5px 10px 15px black;
}
header nav .logo{
    color: white;
    width: 20%;
    font-size: 40px;
    padding: 10px 6%;
} 
header nav .nav{
    display: flex;
    position: absolute;
    width: 50%;
    right: 5%;
    justify-content: space-around;
    padding: 23px;
}
header nav .nav .link{
    display: block;
    list-style: none;
    position: relative;
}
header nav .nav .link a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
header nav .nav .link a:hover{
    color: yellow;
    transition: 0.3s;
}

/*home page*/
.homepage{
    height: 100vh;
    width: 100%;
}
.homepage .container{
    height: 100vh;
    width: 100%;
}
.homepage .container .content{
    position: absolute;
    width: 100%;
    bottom: 15%;
    text-align: center;
}
.homepage .container .content a{
    color: rgb(184, 4, 4);
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    padding: 13px;
    font-size: 20px;
    background: yellow;
    border-radius: 20px;
    z-index: 100;
    z-index: 100;
    bottom: 0;
    position: relative;
}
.homepage .container .content a:hover{
    background: transparent;
    transition: 0.3s;
    border-radius: 10px;
    padding: 20px;
    border: 3px solid rgb(174, 174, 0);
    color: white;
}


/*text*/
.homepage .container .content h1{
    color: white;
    position: absolute;
    top: -400px;
    text-align: center;
    width: 100%;
    font-size: 130px;
}
.homepage .container .content h1 p{
    font-size: 30px;
    padding-top: 30px;
}

/*section 2*/
.sec2{
    background: rgba(100, 197, 253, 0.668);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.sec2 .container .content{
    width: 100%;
    padding: 90px;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 84px;
}
.sec2 .container .content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.sec2 .container .content article {
    max-width: 250px;
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
    top: -20px;
    border-radius: 10px;
}
.sec2 .container .content article h2 {
    margin: 0 0 18px 0;
    font-size: 1.6rem;
    color: red;
}
.sec2 .container .content article img {
    max-width: 100%;
    transform-origin: center;
}
.artpreview {
    padding: 15px;
    background: white;
    height: 300px;
    border-radius: 0 0 10px 10px;
}
.sec2 .container .con1 figure {
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.sec2 .container .con1 figure img {
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
}
/*sec 2 text*/
.sec2 .container .content h1{
    color: red;
    font-size: 50px;
    position: relative;
    top: -70px;
    -webkit-text-stroke: .5px #0e0c0c;
}

/*section 3*/
.sec3{
    background: rgba(13, 84, 123, 0.845);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.sec3 .container{
    height: 100vh;
    width: 100%;
    position: relative;
}
.sec3 .container .con{
    display: flex;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sec3 .container .con .content{
    padding: 10px;
}
.sec3 .container .con .content .pic{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.sec3 .container .txt{
    text-align: center;
}
.sec3 .container .txt h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
    -webkit-text-stroke: 1px white;
}
/* label for the pics*/
.sec3 .container .con .content a{
    color: yellow;
    -webkit-text-stroke: 1px black;
    position: relative;
    top: -40px;
    font-size: 30px;
    left: 50px;
    visibility: hidden;
    opacity: 0;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sec3 .container .con .content:hover a{
    opacity: 1;
    visibility: visible;
    letter-spacing: 6px;
    top: -110px;
    transition: 0.4s;
    z-index: 99;
}

/*section 4*/
.sec4{
    background: rgba(22, 74, 103, 0.845);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.sec4 .container{
    height: 100vh;
    width: 100%;
    position: relative;
}
/*content*/
.sec4 .container .content{
    width: 100%;
    height: 50%;
}
.sec4 .container .content p{
    text-align: center;
    padding: 80px;
    font-size: 40px;
    color: white;
}
.sec4 .container .content{
    color: yellow;
    font-size: 50px;
    text-align: center;
    font-style: italic;
}
/*text sec 4*/
.sec4 .container .txt{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.sec4 .container .txt h1{
    color: rgb(0, 0, 0);
    -webkit-text-stroke: .3px white;
}
/*fb logo*/
.sec4 .container .txt .fblogo{
    height: 70px;
}
.sec4 .container .txt .fblogo img{
    height: 30px;
}
.sec4 .container .txt .fblogo .nsccL{
    font-size: 40px;
    color: white;
    -webkit-text-stroke: .6px black;
    text-decoration: none;
}
.sec4 .container .txt .fblogo .nsccL:hover{
    color: yellow;
    transition: 0.6s;
}


@media(max-width:480px) and (min-width:220px){
    header nav .logo{
        color: white;
        width: 40%;
        font-size: 40px;
        padding: 10px 6%;
    } 
    header nav .nav{
        display: block;
        position: fixed;
        width: 50%;
        top: 70px;
        right: -100%;
        height: 100vh;
        justify-content: space-around;
        padding: 23px;
        background: rgb(184, 4, 4);
        transition: 0.8s;
        border-radius: 20px 0 0 0;
        border: 2px solid yellow;
    }
    header nav .nav .link{
        display: block;
        list-style: none;
        position: relative;
        padding: 20px;
    }
    header nav .nav .link a{
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-decoration: none;
    }
    /*menu toggle*/
    .menu{
        height: 40px;
        width: 40px;
        position: absolute;
        right: 5%;
        top: 7px;
        cursor: pointer;
    }
    .menu .bar{
        background: #ffffff;
        height: 5px;
        margin-top: 7px;
        border-radius: 8px;
    }
    /*fuction toggle menu*/
    .showMenu .nav{
        right: 0;
    }
    /*home page*/
    .homepage .container{
        height: 100vh;
        width: 100%;
        background: rgb(66, 57, 57);
        background-size: cover;
    }
    .homepage .container .content{
        position: absolute;
        width: 100%;
        text-align: center;
        height: 100vh;
        top: 0;
    }
    .homepage .container .content a{
        color: rgb(184, 4, 4);
        text-decoration: none;
        border: 3px solid rgb(255, 255, 255);
        padding: 13px;
        font-size: 20px;
        background: yellow;
        border-radius: 20px;
        z-index: 100;
        bottom: 0;
        left: 30%;
        right: 30%;
        position: absolute;
    }
    .homepage .container .content a:hover{
        background: transparent;
        transition: 0.3s;
        border-radius: 10px;
        color: white;
    }
    /*text*/
    .homepage .container .content h1{
        color: white;
        position: absolute;
        top: 30%;
        text-align: center;
        width: 100%;
        font-size: 70px;
    }
    .homepage .container .content h1 p{
        font-size: 17px;
        padding-top: 30px;
    }


    /*section 2*/
    .sec2 .container .content{
        width: 100%;
        padding: 60px;
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    .sec2 .container .content::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .sec2 .container .content article {
        max-width: 170px;
        top: 0;
        left: 0;
        cursor: pointer;
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 10px;
    }
    .sec2 .container .content article h2 {
        margin: 0 0 18px 0;
        font-size: 10px;
        color: red;
    }
    .sec2 .container .content article p{
        font-size: 6px;
        top: -12px;
        position: relative;
    }
    .sec2 .container .content article img {
        max-width: 100%;
        transform-origin: center;
    }
    .artpreview {
        padding: 5px;
        background: white;
        height: 150px;
        position: absolute;
        top: -500px;
        display: block;
        border-radius: 0 0 10px 10px;
        transition: 0.5s;
    }
    .sec2 .container .content article:hover .artpreview{
        top: 0;
    }
    .sec2 .container .content figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .sec2 .container .content figure img {
        height: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        object-fit: cover;
    }
    /*sec 2 text*/
    .sec2 .container .content h1{
        color: red;
        position: relative;
        top: 30px;
        font-size: 30px;
        text-align: center;
        -webkit-text-stroke: .5px #0e0c0c;
    }
    /*section 3*/
    .sec3{
        height: 1600px;
    }
    /*content*/
    .sec4 .container .content{
        width: 100%;
        height: 50%;
    }
    .sec4 .container .content p{
        text-align: center;
        padding: 80px;
        font-size: 20px;
        color: white;
    }
    .sec4 .container .content{
        color: yellow;
        font-size: 30px;
        text-align: center;
        font-style: italic;
    }
    /*text sec 4*/
    .sec4 .container .txt{
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .sec4 .container .txt h1{
        color: rgb(0, 0, 0);
        -webkit-text-stroke: .3px white;
    }
    /*fb logo*/
    .sec4 .container .txt .fblogo{
        height: 40px;
    }
    .sec4 .container .txt .fblogo img{
        height: 17px;
    }
    .sec4 .container .txt .fblogo .nsccL{
        font-size: 25px;
        color: white;
        -webkit-text-stroke: .6px black;
        text-decoration: none;
    }
    .sec4 .container .txt .fblogo .nsccL:hover{
        color: yellow;
        transition: 0.6s;
    }

    
}
/*end of settings mobile*/


/*tablet*/
@media(max-width:768px) and (min-width:480px) {
    header nav .logo{
        color: white;
        width: 50%;
        font-size: 30px;
        padding: 10px 6%;
    } 
    header nav .nav{
        display: block;
        position: fixed;
        width: 30%;
        top: 60px;
        right: -100%;
        height: 100vh;
        justify-content: space-around;
        padding: 23px;
        background: rgb(184, 4, 4);
        transition: 0.8s;
        border-radius: 20px 0 0 0;
        border: 2px solid yellow;
    }
    header nav .nav .link{
        display: block;
        list-style: none;
        position: relative;
        padding: 20px;
    }
    header nav .nav .link a{
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-decoration: none;
    }
    /*menu toggle*/
    .menu{
        height: 40px;
        width: 40px;
        position: absolute;
        right: 3%;
        top: 7px;
        cursor: pointer;
    }
    .menu .bar{
        background: #ffffff;
        height: 5px;
        margin-top: 7px;
        border-radius: 8px;
    }
    /*fuction toggle menu*/
    .showMenu .nav{
        right: 0;
    }
    /*text*/
    .homepage .container .content h1{
        font-size: 80px;
    }
    .homepage .container .content h1 p{
        font-size: 17px;
        padding-top: 30px;
    }
    /*section 2*/
    .sec2 .container .content{
        width: 100%;
        padding: 90px;
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .sec2 .container .content::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .sec2 .container .content article {
        max-width: 130px;
        top: 0;
        cursor: pointer;
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 10px;
    }
    .sec2 .container .content article h2 {
        margin: 0 0 18px 0;
        font-size: 15px;
        color: red;
    }
    .sec2 .container .content article p{
        font-size: 7px;
    }
    .sec2 .container .content article img {
        max-width: 100%;
        transform-origin: center;
    }
    .artpreview {
        padding: 5px;
        background: white;
        height: 200px;
        display: block;
        position: absolute;
        top: -500px;
        transition: 0.8s;
        border-radius: 0 0 10px 10px;
    }
    .sec2 .container .content article:hover .artpreview{
        top: 0;
    }
    .sec2 .container .content figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .sec2 .container .content figure img {
        height: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        object-fit: cover;
    }
    /*sec 2 text*/
    .sec2 .container .content h1{
        color: red;
        position: relative;
        top: 60px;
        font-size: 40px;
        text-align: center;
        -webkit-text-stroke: .5px #0e0c0c;
    }
    /*section 3*/
    .sec3{
        height: 1800px;
    }
    /*content*/
    .sec4 .container .content{
        width: 100%;
        height: 50%;
    }
    .sec4 .container .content p{
        text-align: center;
        padding: 80px;
        font-size: 20px;
        color: white;
    }
    .sec4 .container .content{
        color: yellow;
        font-size: 30px;
        text-align: center;
        font-style: italic;
    }
    /*text sec 4*/
    .sec4 .container .txt{
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .sec4 .container .txt h1{
        color: rgb(0, 0, 0);
        -webkit-text-stroke: .3px white;
    }
    /*fb logo*/
    .sec4 .container .txt .fblogo{
        height: 40px;
    }
    .sec4 .container .txt .fblogo img{
        height: 17px;
    }
    .sec4 .container .txt .fblogo .nsccL{
        font-size: 25px;
        color: white;
        -webkit-text-stroke: .6px black;
        text-decoration: none;
    }
    .sec4 .container .txt .fblogo .nsccL:hover{
        color: yellow;
        transition: 0.6s;
    }
    
    
}


@media screen and (max-width:1068px) and (min-width:768px){
    /*text*/
    .homepage .container .content h1{
        font-size: 80px;
    }
    .homepage .container .content h1 p{
        font-size: 17px;
        padding-top: 30px;
    }
    /*section 2*/
    .sec2 .container .content{
        width: 100%;
        padding: 90px;
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .sec2 .container .content::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .sec2 .container .content article {
        max-width: 130px;
        top: 0;
        cursor: pointer;
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 10px;
    }
    .sec2 .container .content article h2 {
        margin: 0 0 18px 0;
        font-size: 15px;
        color: red;
    }
    .sec2 .container .content article p{
        font-size: 9px;
    }
    .sec2 .container .content article img {
        max-width: 100%;
        transform-origin: center;
    }
    .artpreview {
        padding: 5px;
        background: white;
        height: 200px;
        display: block;
        position: absolute;
        top: -500px;
        transition: 0.8s;
        border-radius: 0 0 10px 10px;
    }
    .sec2 .container .content article:hover .artpreview{
        top: 0;
    }
    .sec2 .container .content figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .sec2 .container .content figure img {
        height: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        object-fit: cover;
    }
    /*sec 2 text*/
    .sec2 .container .content h1{
        color: red;
        position: relative;
        top: 60px;
        font-size: 40px;
        text-align: center;
        -webkit-text-stroke: .5px #0e0c0c;
    }
    /*section 3*/
    .sec3{
        height: 1000px;
    }
    /*content*/
    .sec4 .container .content{
        width: 100%;
        height: 50%;
    }
    .sec4 .container .content p{
        text-align: center;
        padding: 80px;
        font-size: 30px;
        color: white;
    }
    .sec4 .container .content{
        color: yellow;
        font-size: 30px;
        text-align: center;
        font-style: italic;
    }
    /*text sec 4*/
    .sec4 .container .txt{
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .sec4 .container .txt h1{
        color: rgb(0, 0, 0);
        -webkit-text-stroke: .3px white;
    }
    /*fb logo*/
    .sec4 .container .txt .fblogo{
        height: 40px;
    }
    .sec4 .container .txt .fblogo img{
        height: 17px;
    }
    .sec4 .container .txt .fblogo .nsccL{
        font-size: 25px;
        color: white;
        -webkit-text-stroke: .6px black;
        text-decoration: none;
    }
    .sec4 .container .txt .fblogo .nsccL:hover{
        color: yellow;
        transition: 0.6s;
    }
}

/*desktop*/
@media screen and (max-width:1460px) and (min-width:1068px){
    /*logo*/
    header nav .logo{
        color: white;
        width: 50%;
        font-size: 40px;
        padding: 10px 6%;
    } 
    /*text*/
    .homepage .container .content h1{
        font-size: 100px;
    }
    .homepage .container .content h1 p{
        font-size: 23px;
        padding-top: 60px;
    }

    /*section 2*/
    .sec2 .container .content{
        width: 100%;
        padding: 90px;
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .sec2 .container .content::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .sec2 .container .content article {
        max-width: 180px;
        top: 0;
        cursor: pointer;
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 10px;
    }
    .sec2 .container .content article h2 {
        margin: 0 0 18px 0;
        font-size: 15px;
        color: red;
    }
    .sec2 .container .content article p{
        font-size: 7px;
    }
    .sec2 .container .content article img {
        max-width: 100%;
        transform-origin: center;
    }
    .artpreview {
        padding: 5px;
        background: white;
        height: 150px;
        border-radius: 0 0 10px 10px;
    }
    .sec2 .container .con1 figure {
        width: 100%;
        height: 100px;
        overflow: hidden;
    }
    .sec2 .container .con1 figure img {
        height: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        object-fit: cover;
    }
    /*sec 2 text*/
    .sec2 .container .content h1{
        color: red;
        position: relative;
        top: 0;
        font-size: 70px;
        text-align: center;
        -webkit-text-stroke: .5px #0e0c0c;
    }
    /*section 3*/
    .sec3{
        height: 900px;
    }
}